@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@font-face {
  font-family: "Circular Std";
  font-weight: 400;
  src: url("fonts/CircularStd-Book.ttf") format("woff2"),
    url("fonts/CircularStd-Book.ttf") format("woff");
}

@font-face {
  font-family: "Circular Std";
  font-weight: 700;
  src: url("fonts/CircularStd-Bold.ttf") format("woff2"),
    url("fonts/CircularStd-Bold.ttf") format("woff");
}
/* __________________________________ */
html,
body {
  overflow-x: hidden;
}

* {
  font-family: "Circular Std";
  color: #3d4f5c;
  box-sizing: border-box;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.wrap {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 85px;
  font-weight: 700;
  letter-spacing: -1.7px;
  margin-bottom: 0;
}

h2 {
  font-size: 50px;
  font-weight: 700;
  letter-spacing: -1px;
}

h3 {
  font-size: 30px;
  font-weight: 500;
}

h5 {
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
}

ul {
  list-style-type: none;
}
.title-18 {
  font-size: 18px;
  font-weight: 400;
  line-height: 35px;
  text-decoration: none;
}

.title {
  color: #fb8958;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
}
h6 {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.16px;
  text-align: center;
}
p {
  color: #fb8958;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: -0.24px;
  padding-bottom: 25px;
}

.font-button {
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}

.complementary-green {
  color: #46b8c8;
}

.bg-complementary-green {
  background-color: #46b8c8;
}

.title-green {
  color: #a9bc87;
}
.title-blue {
  color: #8bb5c9;
}

.title-turquois {
  color: #00a0b6;
}
.title-purple {
  color: #8b60d3;
}
.background-color {
  background: #fbfafa;
}

.light-grey {
  color: #939393;
}

.dark-grey {
  color: #3d4f5c;
}
.background-color-grey {
  background-color: #3d4f5c;
}
.text-decoration-none {
  text-decoration: none;
}
/* __MENU______________________________________________ */
.homepage {
  min-height: 100vh;
}

.menu {
  padding-top: 20px;
  padding-bottom: 20px;
}

.logo {
  flex-basis: 150px;
}

.menu .wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu ul {
  flex-basis: auto;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
  display: flex;
}

.menu ul li {
  flex-basis: auto;
}

.menu ul li:not(:last-child) {
  margin-right: 20px;
}

.link-button {
  padding: 15px 35px;
  border-radius: 32.5px;
  border: 1px solid;
}

#menu-button {
  font-weight: 700;
  color: #46b8c8;
}

.btn {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

.relative {
  display: inline-block;
}

.background {
  position: absolute;
  right: 0;
  bottom: 0;
}

.banner {
  display: flex;
  align-items: center;
}

.main-text {
  flex-basis: 50%;
  margin-left: 120px;
}

.image {
  flex-basis: 50%;
  text-align: right;
  padding: 20px;
}
/* __________who we are____________ */

.about-us {
  background-color: #fbfafa;
  padding-top: 147px;
  padding-bottom: 157px;
}

.card-item {
  margin-right: 95px;
}
/* ___solution____________________________________________ */

.solution-section {
  padding: 180px 0;
}
.solution-wrapper {
  margin: 140px 0 140px;
  display: flex;
  justify-content: space-between;
}

.solutions {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  /* line-height: 45px; */
  letter-spacing: -0.4px;
}

.like {
  padding: 30px;
  height: fit-content;
}

.inner {
  border-radius: 95px;
  background: #f5f5f5;
  width: 96px;
  height: 95px;
  align-items: center;
}

/* __________values_______________________ */
.values {
  background-color: #fbfafa;
  padding-top: 120px;
  padding-bottom: 196px;
}

.value-cards {
  display: flex;
  justify-content: space-between;
}
.value-card-inovation {
  flex: 56%;
}
.value-card-people {
  flex: 44%;
  margin-left: 74px;
}
.wrapper {
  display: flex;
  justify-content: space-between;
}
.value-padding {
  padding-bottom: 52px;
}
.work {
  padding-top: 100px;
  text-align: center;
}
.option-title {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.32px;
}

.options {
  display: flex;
}
.option {
  border-radius: 30px;
  background: #fff;
  box-shadow: 0px 8px 35px 0px #bba98e26;
  padding: 40px 100px 50px 101px;
  margin-right: 25px;
  margin-bottom: 25px;
}
.option-item {
  flex-basis: 50%;
}
.button-padding {
  padding: 20px;
}

/* ________we are hiring_________ */
.additional-wrapper {
  padding: 140px 0 165px;
  display: flex;
  justify-content: space-between;
}

.join {
  text-align: center;
  width: 443px;
}

/* __form_____ */
.share-with-us {
  background-color: #ffc351;
}

.white-title {
  color: #fff;
  font-size: 60px;
  font-weight: 700;
  padding-top: 60px;
}

.form {
  flex-basis: 50%;
  margin-bottom: 70px;
  padding: 72px 42px 40px;
  border-radius: 10px;
  background: #f3f3f3;
  box-shadow: 0px 8px 35px 0px #bba98e26;
}

form {
  display: flex;
  flex-direction: column;
}

.union img {
  flex-basis: 50%;
}
#input,
#email {
  height: 54px;
  margin-bottom: 20px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 8px 35px 0px #bba98e26;
}

#input:focus {
  outline: none;
}
#message {
  height: 38vh; /*(converted from px)*/
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 8px 35px 0px #bba98e26;
}

#message:focus {
  outline: none;
}

input {
  border: none;
  border-radius: 10px;
  font-family: "Roboto";
}

input::placeholder {
  color: #939393;
}

.white-description {
  font-size: 24px;
  color: #fff;
  padding: 34px 0px;
  font-family: "Roboto";
}

button {
  margin: 42px 92px 0px;
}
.union {
  display: flex;
}

.footer {
  background-color: #fbfbfa;
}

.rights {
  margin-top: 84px;
  font-size: 18px;
}

.companies {
  /* flex-basis: auto; */
  display: inline-block;
  padding-left: 230px;
}

.companies ul {
  padding-left: 0;
}

.companies li a {
  text-decoration: none;
}
.column {
  font-size: 18px;
  font-style: normal;
  font-weight: 450;
  line-height: 24px;
}
.footer-logo {
  display: inline-block;
}

.footer-titles {
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  margin-bottom: 18px;
}
.footer-wrapper {
  display: flex;
}
.contact {
  display: inline-block;
  padding-left: 155px;
}
.column {
  margin-bottom: 11px;
  line-height: 24px;
}

.like-icon {
  padding: 10px;
  height: fit-content;
}

.follow {
  display: inline-block;
  padding-left: 90px;
}

.social-icons a {
  display: block;
  margin-bottom: 15px;
}
/* media */

@media (max-width: 768px) {
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 40px;
  }

  .main-text {
    margin-left: 90px;
  }
  .image img {
    width: 65%;
  }

  .background {
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    width: 65%;
  }

  h3 {
    font-size: 22px;
  }
  .work .wrap {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  .options {
    flex-wrap: wrap;
  }
  .option {
    margin-right: 0;
  }
  .option-item {
    flex-basis: 100%;
  }
  .solutions {
    font-size: 20px;
    padding-bottom: 0;
  }

  .wrapper img {
    width: 30%;
  }

  .right-side {
    width: 100%;
  }

  .white-title {
    font-size: 30px;
  }

  .white-description {
    font-size: 18px;
  }

  .space {
    width: 40%;
  }

  .like {
    width: 100%;
  }

  .like img {
    width: 50%;
  }

  .additional-wrapper img {
    width: 30%;
    height: fit-content;
  }

  .form {
    max-width: 300px;
    padding: 72px 28px 40px;
  }
  .form input {
    max-width: 250px;
  }
  button {
    margin: 42px 17px 0px;
  }

  .footer-logo img {
    width: 70%;
  }

  .rights {
    font-size: 14px;
  }

  .companies,
  .contact,
  .follow {
    padding-left: 45px;
  }
  .footer-titles {
    font-size: 15px;
  }

  .title-18,
  .column {
    font-size: 12px;
  }
}
/* _________mobile version_________________________ */

@media (max-width: 425px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 30px;
  }

  p {
    font-size: 18px;
  }
  .menu .wrap {
    flex-direction: column;
  }

  .banner {
    display: flex;
    flex-direction: column;
  }
  .main-text {
    margin-left: 35px;
  }
  .image {
    flex-direction: column;
  }

  .background {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100vw;
  }
  .logo {
    flex-basis: auto;
  }
  .link-button {
    padding: 15px 10px;
  }

  .additional-wrapper img {
    width: 30%;
    height: fit-content;
  }

  .cards {
    display: flex;
    flex-direction: column;
  }

  .value-cards {
    display: flex;
    flex-direction: column;
  }

  .value-card-people {
    margin-left: 0;
    margin-top: 50px;
  }

  .option {
    padding: 40px 30px 50px 30px;
  }

  .option-item img {
    width: 200px;
  }

  .button-padding .link-button {
    padding: 10px 40px;
  }
  .join {
    display: flex;
    flex-direction: column;
  }

  .join .link-button {
    padding: 15px 10px;
    font-size: 12px;
  }

  .solutions {
    font-size: 18px;
  }

  .right-side {
    width: 100%;
  }

  .like {
    padding: 10px;
    width: 100%;
  }

  .wrapper img {
    width: 50%;
    height: fit-content;
  }

  .union {
    display: flex;
    flex-direction: column;
  }

  .union img {
    width: auto;
  }

  .footer-wrapper {
    display: flex;
    flex-direction: column;
  }

  .companies,
  .contact,
  .follow {
    padding-left: 0;
    margin-top: 50px;
  }

  .solutions img {
    width: 15%;
  }
}
